.container{
    background-color:#282D35;
    margin: -8px;
    background-image: url(./images/react-icon.png);
    background-repeat: no-repeat;
    background-position-x: 290px;
}

.nav{
    background-color: #21222A;
    height: 91px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.img-logo{
    height: 50px;
}

.logo{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 22.2535px;
    line-height: 27px;
    letter-spacing: -0.05em;
    color: #00D8FF;
}

.nav-items{
    display: flex;
    gap: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #DEEBF8;
    padding: 20px;
}

.title{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-top: 57px;
    margin-left: 27px;
}

.list{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 57px;
}

ul{
    list-style: none;
}

.list li::before{
    content: "\2022";
    color:#00D8FF;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: 1em;
    font-size: 1.7rem;
}

.footer{
    background-color: #21222A;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    line-height: 39px;
    color: #FFFFFF;
    padding-left: 27px;
}